@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

  color-scheme: dark;
  font-size: 17px;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  font-style: normal;
  font-family: 'Nunito', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;

  background-color: white;
  color: black;
}

body > main {
  flex-grow: 1;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}
